@import 'fonts/fontstylesheet.css';
body {
  margin: 0;
}
a {
  text-decoration: none;
  font-family: 'AppleSDGothicNeoM';
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
  font-family: 'AppleSDGothicNeoM';
}
#subtitle {
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 20px;
  font-family: 'AppleSDGothicNeoM';
}
#grid {
  display: grid;
  grid-template-columns: 360px 1fr;
  border-bottom: 1px solid gray;
}
#grid ol {
  width: 300px;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  font-family: 'AppleSDGothicNeoM';
}
#grid #article {
  margin-left: 20px;
  margin-top: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid gray;
  font-family: 'AppleSDGothicNeoM';
}
#disqus_thread {
  font-family: 'AppleSDGothicNeoM';
}
#tawk_thread {
  font-family: 'AppleSDGothicNeoM';
}
@media(max-width: 800px) {
  #grid {
    display: block;
  }
  #grid #article {
    border-left: none;
    font-family: 'AppleSDGothicNeoM';
  }
  h1 {
    border-bottom: none;
    font-family: 'AppleSDGothicNeoM';
  }
  #subtitle {
    border-bottom: none;
    font-family: 'AppleSDGothicNeoM';
  }
}
